include index

body
 .challenge_new_wrapper
  form.challenge_submit(action="/chals/" method="post")
   label(for="name") Name:
   input(id="name", type="text", name="name")
   label(for="description", type="text", name="points")  Points:
   input(type="submit", value="Submit")


