html(lang='en')
 head
  title= "WebCTF"
  link(rel='stylesheet', type='text/css', href='/style.css')
 body

  div.navigation-bar 
   div.navigation-wrapper
    h2 WebCTF
    h3.route-wrapper
      a.route(href='/') Scoreboard
    h3.route-wrapper
      a.route(href='/') Challenges
