html(lang='en')
 head
  title= "WebCTF"
  link(rel='stylesheet', type='text/css', href='/style.css')
  link(href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&display=swap", rel="stylesheet") 
 body
  
  div.navigation-bar 
   div.navigation-wrapper
    h2
     a.route(href="/") WebCTF
    h3.route-wrapper
      a.route(href='/scoreboard') Scoreboard
    h3.route-wrapper
      a.route(href='/chals') Challenges
    .team-name
      if team
        h3.route-wrapper #{team.name}
    h3.route-wrapper
      if !team
        a.route(href='/login') Join a Team
      else
        a.route(href='/logout') Logout
