/*INFO: Just made some basic styling (mostly to not burn out my retinas right now), probably not final */
html {
  background-color: #232634;
  font-family: "Exo 2", sans-serif;
}

.navigation-wrapper {
  /*Colors and placement navigation bar */
  background-color: #303446;
  color: #cad3f5;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  grid-template-columns: 100px 100px 100px auto 150px;
  padding-left: 10px;
  border-radius: 12px;
}

.navigation-bar {
  position: static;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
}

.route-wrapper {
  padding-top: 5px;
}

.route {
  text-decoration: none;
  color: #b5bfe2;
}

/*INFO: Challenge list styling */

.page-title-box {
  background-color: #303446;
  border-radius: 12px;
  padding: 10px;
  color: #cad3f5;
}

.challenge-page-title {
  font-size: 80px;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 300;
}

.challenge-page-desc {
  padding: 10px;
}

.challenge-description a {
  color: #cad3f5;
}

.link-button {
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border-color: 2px solid #232634;
}

.challenges-content {
  margin-left: 10px;
}

.challenge-link {
  text-decoration: none;
}

.category-title-box {
  padding-left: 10px;
  margin-top: 15px;
}

.category-title-box h3 {
  font-size: 30px;
  color: #f0eff4;
  padding-left: 15px;
  font-weight: 400;
}

.challenge-list {
  display: flex;
  flex-wrap: wrap;
}

.challenge-box {
  height: 150px;
  width: 150px;
  margin: 15px;
  padding: 10px;
  border: 2px solid #e78284;
  border-radius: 12px;
  background-color: #e78284;
}

.challenge-box-info {
  text-align: center;
  color: #11111b;
  padding-top: 10px;
  height: 100%;
}

.challenge-box-solve {
  padding-top: 30px;
  font-style: italic;
}

/*INFO: Challenge view styling */

.challenge-view {
  margin-top: 130px;
  color: #cad3f5;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid;
  width: 40%;
}

.challenge-name {
  text-align: center;
  margin-bottom: 0px;
}

.challenge-category {
  text-align: center;
  margin-top: 5px;
}

.challenge-points {
  text-align: center;
  margin-top: 5px;
}

.submission-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  grid-auto-columns: max-content 100px;
  grid-template-rows: 20px;

}

.submission-label {
  margin: 0px;
  text-align: right;
}

.submission-input {
  margin-top: 5px;
}

.challenge-info-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0px;
  grid-auto-columns: 50px 50px;
  grid-template-rows: 40px;
  justify-content: center;
}

.login-reminder {
  color: #FF4000;
}

/* INFO: Leaderboard styling */

#bar-chart {
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  border-radius: 12px;
  width: 70%;
  background-color: #d5d7e1;
}


/* INFO: create new challenge styling */

.form-container {
  background-color: #303446;
  margin-top: 90px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 12px;
  padding: 10px;
  color: #cad3f5;
}

.form-title {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 300;
}

.form-container label {
  margin-bottom: 10px;
  padding-top: 10px;
}

.form-container input, .form-container textarea {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: #d5d7e1;
  border-radius: 5px;
}

.form-container textarea {
    resize: none;
    height: 10em;
}

.form-container select {
  resize: vertical;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #d5d7e1;
  border-radius: 5px;
}

.form-button-container {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}


.submit-new-chal-button {
  padding: 10px;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
  border-color: 1px solid black;
  margin-left: 25%;
  margin-right: 25%;
}

.submit-new-chal-button:hover {
  background-color: #26c485;
  border: 2px solid #26c485;
}

/* INFO: login page styling */
/* Note: uses new challenge styling */

.login-button {
  padding: 10px;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
  border-color: 1px solid black;
  margin-left: 30%;
  margin-right: 30%;
}

.login-button:hover {
  background-color: #26c485;
  border: 2px solid #26c485;
}



.team-name {
  align-self: stretch;
  text-align: right;
  padding-right: 20px;
}


.error-page-message {
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  color: #cad3f5;
  font-family: "Exo 2", sans-serif;
}



.flag-button-container {
  display: flex;
}

.flag-submit-button {
  margin-top: 3px;
  font-size: 15px;
  padding: 3px;
  border-radius: 8px;
  cursor: pointer;
  border-color: 1px solid black;
}

.flag-submit-button:hover {
  background: #26c485;
  border: 2px solid #26c485;
}


.solved_challenge {
  background: #26c485;
  border: 2px solid #26c485;
}




/*INFO: Notification Styling */

#notification {
  margin-top:10px;
  position: fixed;
  bottom: 0px;
  top: 0px;
  left: 90%;
  opacity: 0;
  background-color: #d20f39;
  padding-right: 4px;
  height: 50px;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out;
}

#notification.shown {
  opacity: 1;
}

#notification.correct {
  background-color: #40a02b;
}
